<section
  class="app-background-escuro-2 d-flex justify-content-center align-items-center"
  id="portfolio"
>
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Portfólio</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-3">
      <div class="col-auto">
        <img
          class="img-fluid rounded-4"
          src="assets/img-gerador-de-testes.png"
          alt="Aplicação MVC Gerador de testes"
        />
      </div>

      <div class="col-auto">
        <img
          class="img-fluid rounded-4"
          src="assets/img-gerenciador-cinema.png"
          alt="Aplicação Web gerador de cinema"
        />
      </div>
    </div>
  </div>
</section>
