<section
  class="app-background-escuro d-flex justify-content-center align-items-center"
  id="sobre"
>
  <div class="container">
    <div class="d-flex justify-content-center">
      <img
        class="img-fluid rounded-pill"
        style="max-width: 300px; width: 100%; height: auto"
        src="/assets/fotoPerfil.jpg"
        alt="Foto De Perfil"
      />
    </div>

    <h2 style="margin-bottom: 30px" class="display-5 fw-bold text-center mt-5">
      Um Pouco sobre mim
    </h2>

    <div class="row flex-wrap mt-5">
      <div class="col-lg-8">
        <h3 class="fs-3">
          Meu nome é
          <span class="app-texto-principal fw-semibold"
            >Luiz Gustavo Hemkemaier Santos</span
          >, sou um desenvolvedor Full-Stack!
        </h3>

        <p class="fs-5 mt-3">
          Estou a 1 ano aprimorando minhas habilidades como desenvolvedor
          Full-Stack. Desenvolvi vários projetos em grande escala com diferentes
          regras de negocio, utilizando a
          <span class="app-texto-principal fw-semibold">Plataforma .NET</span>e
          <span class="app-texto-principal fw-semibold">Angular</span>.
        </p>

        <p class="fs-5">
          Atualmente, estou em busca da minha
          <span class="app-texto-principal fw-semibold"
            >primeira oportunidade</span
          >
          de trabalho, com o objetivo de aplicar e expandir meus conhecimentos.
          Busco me inserir no mercado de trabalho e contribuir, enquanto me
          solidifico profissionalmente na
          <span class="app-texto-principal fw-semibold">área de tecnologia</span
          >.
        </p>
      </div>

      <div class="col">
        <ul class="list-group">
          <li class="list-group-item py-3 app-background-principal">
            <strong>Nome:</strong> Luiz Gustavo H. Santos
          </li>
          <li class="list-group-item py-3">
            <strong>Email: </strong>
            <a href="mailto: lghs1901@gmail.com">lghs1901&#64;gmail.com</a>
          </li>
          <li class="list-group-item py-3 app-background-principal">
            <strong>Idade: </strong>23 Anos
          </li>
          <li class="list-group-item py-3">
            <strong>De: </strong>Lages, Santa Catarina
          </li>
        </ul>

        <div
          class="d-flex justify-content-center align-itens-center gap-3 mt-3"
        >
          <a class="text-light" href="https://github.com/GeloBom">
            <i class="bi bi-github fs-1"></i>
          </a>

          <a
            class="text-light"
            href="https://www.linkedin.com/in/luiz-gustavo-hemkemaier-santos-36008026b/"
          >
            <i class="bi bi-linkedin fs-1"></i>
          </a>

          <a
            href="https://api.WhatsApp.com/send?phone=5549985021408&text=Olá,%20encontrei%20seu%20número%20através%20do%20seu%20portfólio"
            target="_blank"
            class="btn btn-lg app-background-principal rounded-5 px-md-5 fw-semibold d-flex justify-content-center align-items-center"
            style="white-space: nowrap; font-size: 1rem; padding: 0.5rem 1.5rem"
          >
            Contato Via WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
