<section
  class="app-background-escuro d-flex d-flex justify-content-center align-items-center"
  id="experiencias"
>
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Experiências</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-3">
      <div class="col">
        <div class="card">
          <div class="card-header" >
            <span class="rounded-pill text-bg-warning"
              >Mar/2024 - Atualmente</span
            >
            <br />
            <img
              class="my-3"
              style="max-width: 300px; width: 100%; height: auto; object-fit: cover;"
              src="/assets/logoAcademia.png"
              alt="Logo da Academia do Programador"
            />
            <br />
            <label>Desenvolvedor Trainee</label>
          </div>

          <div class="card-body">
            <p>
              Responsável pelo setor de produção da empresa e integração de
              aplicações web e sistemas internos, em treinamento como
              desenvolvedor trainee na Academia do Programador, utilizando .NET
              e Angular para criar soluções práticas.
            </p>

            <p>
              <span class="fw-semibold">Stack:</span> .NET Framework, .NET 8,
              Entity Framework Core, ASP.NET Core MVC, ASP.NET Web API, MSTest,
              Docker, Angular.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <span class="rounded-pill text-bg-warning">
              fev/2018 - abr/2022
            </span>
            <br />
            <img
              style="max-width: 300px; width: 100%"
              class="my-3"
              src="/assets/logoGeloBom.jpg"
              alt="Logo da Gelo Bom"
            />
            <br />
            <label class="fw-semibold">Gerente de produção</label>
          </div>

          <div class="card-body">
            <div>
              <p>
                Responsável pela gestão do setor de produção, atuando como
                gerente de produção. Desenvolvia soluções eficientes para
                otimizar os processos de produção, garantindo o fluxo
                operacional contínuo.
              </p>
            </div>

            <div>
              <p>
                <span class="fw-semibold">Responsabilidades:</span>
                Liderança de Equipe, Treinamento, Gestão de tempo, Controle de
                processos, Comunicação empresarial.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
